
raspberry.xcodeproj/xcuserdata/Trevir.xcuserdatad/xcschemes/xcschememanagement.plist

raspberry.xcodeproj/xcuserdata/Trevir.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

raspberry.xcodeproj/xcuserdata/Trevir.xcuserdatad/xcschemes/raspberry.xcscheme

raspberry.xcodeproj/xcuserdata/trev.xcuserdatad/xcschemes/xcschememanagement.plist

raspberry.xcodeproj/xcuserdata/trev.xcuserdatad/xcschemes/raspberry.xcscheme

raspberry.xcodeproj/xcuserdata/trev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

raspberry.xcodeproj/project.xcworkspace/xcuserdata/Trevir.xcuserdatad/WorkspaceSettings.xcsettings

raspberry.xcodeproj/project.xcworkspace/xcuserdata/Trevir.xcuserdatad/UserInterfaceState.xcuserstate

raspberry.xcodeproj/project.xcworkspace/xcuserdata/trev.xcuserdatad/WorkspaceSettings.xcsettings

raspberry.xcodeproj/project.xcworkspace/xcuserdata/trev.xcuserdatad/UserInterfaceState.xcuserstate

raspberry.xcodeproj/project.xcworkspace/contents.xcworkspacedata
